@media screen and (max-width: 1221px) {
    
h1 {
    font-size: 290%;
}

}


@media screen and (max-width: 768px) {
    header h3 {
    width: 90%;
}

    h2 {
        font-size: 160%;
    }
    h3 {
        font-size: 140%;
    }
   .nav-list li {
        padding: 0px;
        margin: 5px;
    }
    
    .nav-list li a {
        font-size: 60%;
        padding: 10px 2px;
    }
}  




@media screen and (max-width: 636px) {
    .nav-list li:hover {
        border-bottom: 2px solid #e69600;
    } 

    #nav {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    #nav-logo {
        display: flex;
    }

    #nav-lists {
        list-style: none;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        z-index: 100;
        height: 60vh;
        width: 100vw;
        margin: auto 0;
    }

    #nav .nav-icon {
        display: block;
        top: 0px;
        cursor: pointer;
    }

    #nav .nav-icon .fa-bars,
    #nav .nav-icon .fa-window-close {
        display: block;
        top: 0;
    }

    #nav .nav-icon .fa-window-close {
        margin-left: -35px;
        display: none;
    }

}



@media screen and (max-width: 636px) {
    
    h2 {
        font-size: 120%;
    }
    h3 {
        font-size: 100%;
    }

    
    h1 {
        font-size: 150%;
        margin-top: 40%;
    }






}



























